.header-color{
  background: #1E9600;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF0000, #FFF200, #1E9600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}
.mdl-navigation  a{
  font-size: 20px;
}

.contact{
  width: 600px;
  height: 300px;
  background-color: #e1e1e1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.home-grid{
background: #F3904F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
text-align: center;
position: fixed;
left: 0;
min-width: 100%;
min-height: 100%;
}

.avatar-img{
  height: 250px;
  padding-top: 5em;
  border-radius: 100%;
}

.banner-text{
  background-color: black;
  width: 75%;
  opacity: .8;
  margin: auto;
  border-radius: 10px;
}

.banner-text h2{
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.banner-text hr{
  width: 50%;
  border-top: 5px dotted white;
  margin: auto;
}

.banner-text p{
  font-size: 20px;
  color: white;
  padding: 1em;
}

.social{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social i{
  color: white;
  font-size: 5em;
  padding: 8px;
}

